<div class="container py-15">

    <fieldset class="border p-2 mb-1 mt-2 filters">
        <legend class="w-auto h6">Agregar Personas</legend>

        <hr>
        <button type="button" (click)="cancelarPersona()" class="btn btn-danger">Atras </button>
        <hr>
        <!-- <form [formGroup]="formGroupPerson">

            <div class="col-sm-6">
                <label for="exampleInputNombreNombre" class="form-label">Nombre</label>
                <input formControlName="fcn_primer_nombre" type="text" class="form-control"
                     id="exampleInputNombrePrimer">
                     [ngModel]="productoForm.nombre"
                <div *ngIf="fcn_primer_nombre.invalid && ( fcn_primer_nombre.dirty || fcn_primer_nombre.touched )"
                    class="text-danger">
                    <div *ngIf="fcn_primer_nombre.errors?.['required']">
                        El Primer Nombre es requerido.
                    </div>
                </div>
            </div> 
        </form> -->
        <div class="row">
            <div class="col-sm-6">
                <button type="submit" (click)="guardarPersona()" class="btn btn-primary me-3">Guardar </button>
                <button type="button" (click)="cancelarPersona()" class="btn btn-danger">Cancelar </button>
            </div>
        </div>
    </fieldset>
</div>