<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> Lista de Personas</a>
    </div>
</nav>


<div class="container py-15">

    <fieldset class="border p-2 mb-1 mt-2 filters">
        <legend class="w-auto h6">Personas</legend>


        <div class="mt-5 d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-block btn-info"
            (click)="btnAddPerson()"
            >
                <i class="fa fa-plus" aria-hidden="true"></i>
                Agregar
            </button>

        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Identificación</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Fecha de Nacimiento</th>
                    <th scope="col">Lugar de Nacimiento </th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody *ngIf="objGetPerson.length > 0 else TablaVacia">

                <tr *ngFor="let item of objGetPerson;" (click)="dataPersonRow(item)">

                    <td>{{ item.id }}</td>
                    <td>{{ item.identification }}</td>
                    <td>{{ item.first_Name +' '+ item.second_Name}}</td>
                    <td>{{ item.first_Last_Name +' '+ item.second_Last_Name}}</td>
                    <td>{{ item.sexo }}</td>
                    <td>{{ item.date_Of_Birth | date: 'fullDate'}}</td>
                    <td>{{ item.place_Of_Birth }}</td>
                    <td>
                        <button type="button" class="btn btn-primary me-1" (click)="viewPersonRowModal(item)"
                            title="Ver Todos los datos de la Persona"><i class="far fa-eye"></i>Ver</button>
                        <button type="button" class="btn btn-success me-1"><i class="fas fa-edit"></i>Editar</button>
                        <button type="button" class="btn btn-danger" (click)="deletePersonRowConfirm(item)"
                            title="Eliminar Persona"><i class="far fa-trash-alt"></i>Borrar</button>
                    </td>
                </tr>
                <!-- <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                        <button type="button" class="btn btn-primary me-1"><i class="far fa-eye"></i>Ver</button>
                        <button type="button" class="btn btn-success me-1"><i class="fas fa-edit"></i>Editar</button>
                      <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i>Borrar</button>
                    </td>
                </tr> -->

            </tbody>
            <ng-template #TablaVacia>
                <tbody>
                    <tr class="body-empty">
                        <td colspan="7">No hay datos para mostrar</td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </fieldset>
</div>



<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Datos de la persona</h4>
            </div>
            <div class="modal-body">
                
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="exampleInputNombre" class="form-label">Nombres</label>
                                    <input formControlName="fcn_nombre" type="text" class="form-control"
                                         id="exampleInputNombre" disabled>
                                    <!-- [ngModel]="personForm.first_Name" -->

                                </div>

                                <div class="col-sm-6">
                                    <label for="exampleInputNombre" class="form-label">Apellidos</label>
                                    <input formControlName="fcn_nombre" type="text" class="form-control"
                                        id="exampleInputNombre" disabled>
                                    <!-- [ngModel]="productoForm.nombre" -->

                                </div>
                            </div>


                        </div>

                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closePopup()">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>